<% title = "Admin Page" %>
<div class="admin-container">
    <form action="/create/Tournament" method="post">
        <h1 class="title">Create New Tournament</h1>
        <select name="platform" id="platform-select">
            <option value="PS4">PS4</option>
            <option value="XB1">XB1</option>
            <option value="PC">PC</option>
        </select>
        <select name="gameType" id="gameType-select">
            <option value="Solo">1 v 1</option>
            <option value="Duo">2 v 2</option>
        </select>
        <input type=datetime-local name="dateTime" id="date-time-input">
        <select name="maxTeams" id="max-teams-select">
            <option value="8">8</option>
            <option value="16">16</option>
            <option value="32">32</option>
            <option value="64">64</option>
            <option value="128">128</option>
        </select>
        <input type="submit" value="Create Tournament">
    </form>
</div>