<% title = "Admin Page" %>
<div class="admin-container">
    <form action="/newTournament" method="post">
        <h1 class="title">Create New Tournament</h1>
        <select name="platform" id="platform-select">
            <option value="PS4">PS4</option>
            <option value="XB1">XB1</option>
            <option value="PC">PC</option>
        </select>
        <input type=datetime-local name="dateTime" id="date-time-input">
        <input type="number" name="maxTeams" id="max-team-Input" placeholder="Max Teams">
    </form>
</div>