<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<div class="homepage">
  <div class="header">
    <h1>Fortnite Tournaments</h1>
  </div>
  <div class="tournaments-list" id="tournaments-list">
    <template v-for="tournament in tournaments">
      <div class="tournament-container">
          <template v-if="tournament.platform == 'PS4'">
            <img src="/images/ps4Tourney.jpg">
          </template>
          <template v-else-if="tournament.platform == 'XB1'">
            <img src="/images/xb1Tourney.jpg">
          </template>
          <template v-else="tournament.platform == 'PC'">
            <img src="/images/pcTourney.jpg">
          </template>
          <!-- <img src="http://via.placeholder.com/250x250/606060/ffffff"> -->
          <h3 class="tournament-platform">{{ tournament.platform }} - {{ tournament.gameType }}</h3>
          <p class="tournament-date">{{ formatDate(tournament.time) }}</p>
          <p class="tournament-time">{{ getTime(tournament.time) }}</p>
          <a :href="'/view/tournament/' + tournament.id"><button class="view-tournament">View</button></a>
          <a :href="'/join/tournament/' + tournament.id"><button class="join-tournament">Join</button></a>
      </div>
    </template>
  </div>
</div>
<script>
  var tourneys = new Vue({
    el: '#tournaments-list',
    data: {
      tournaments: []
    },
    created: function(){
      var self = this;
      $.getJSON("/api/getUpcoming", function(resp)
				{
					//self.message = resp;
					var r = resp;
					self.tournaments= r;
				});
    },
    methods: {
      formatDate: function(date){
        var r = new Date(date);
        return((r.getMonth() + 1) + "/" + r.getDate() + "/" + r.getFullYear())
      },
      getTime: function(date){
        var r = new Date(date);
        var hours = r.getHours();
        var ampm = "am";
        if(hours > 12){
          hours = hours - 12;
          ampm = "pm";
        }
        return(hours + ":" + (r.getMinutes()<10?'0':'') + r.getMinutes() + ampm);
      }
    }
  });
</script>