<div class="join-container">
    <% // if(req.session.userName){ %>
        <h2>Join Tournament</h2>
        <p class="tournament-info">Platform: <%= tournament.platform %></p>
        <p class="tournament-info">Gametype: <%= tournament.gameType %></p>
        <p class="tournament-info">Time: <%= tournament.time %></p>
        <!-- TODO: Add link to join tournament -->
        <a href="/createTeam/Tournament/<%= tournament.id %>"><button class="join-button">Join Tournament</button></a>
    <% // }else{ %>
      <h2>You must be logged in to join a tournament</h2>
    <% // } %>
    
</div>