<div class="join-container">
    <% // if(req.session.userName){ %>
        <h2>Join Tournament</h2>
        <p class="s"><%= tournament.platform %></p>
        <p class="s"><%= tournament.time %></p>
        <p class="s"><%= tournament.gameType %></p>
        <!-- TODO: Add link to join tournament -->
        <a href=""><button class="join-button">Join Tournament</button></a>
    <% // }else{ %>
      <h2>You must be logged in to join a tournament</h2>
    <% // } %>
    
</div>