<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/template.css">
    <!--STYLES END-->
  </head>

  <body>
  <nav>
    <a href="#">
      <img src="http://via.placeholder.com/50x50/313131/ffffff">
    </a>
    <div class="middleNavGroup">
      <ul class="button-list">
        <li class="menu-item item sub-holder"><a href="#" class="item-link">Tournaments</a>
          <ul class="dropdown-container">
            <a href="#"><li class="sub-item">PC</li></a>
            <a href="#"><li class="sub-item sub-link-2">PS4</li></a>
            <a href="#"><li class="sub-item sub-link-2">XB1</li></a>
          </ul>
        </li>
        <a href="#"><li class="menu-item item item-2">Leaderboards</li></a>
      </ul>
    </div>
    <a href="#"><div class="login">Login</div></a>
  </nav>
  <%- body %>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
  </body>
</html>
