<div class="leaderboard-container">
  <table>
    <% users.forEach(function(user){ %>
      <tr>
        <td class="username"><%= user.username %></td>
        <td class="user-score"><%= user.points %></td>
      </tr>
    <% }) %>
  </table>
</div>