<div class="leaderboard-container">
  <h1>Leaderboard</h1>
  <table>
    <tr class="table-header">
      <td class="header-cell">Username</td>
      <td class="header-cell">Points</td>
    </tr>
    <% users.forEach(function(user){ %>
      <tr>
        <td class="username"><a href="/user/<%= user.username %>"><%= user.username %></a></td>
        <td class="user-score"><%= user.points %></td>
      </tr>
    <% }) %>
  </table>
</div>