<h1>Create a new User</h1>
<form method="post" action="/addUser">
    <p>Username:</p>
    <input type="text" name='username' id='un'>
    <p>Email:</p>
    <input type="email" name='email' id='email'>
    <p>Password:</p>
    <input type="password" name='password' id='pw'>
    </br>
    <p>
        <!-- <input type="button" value="Register" onclick="createUser()"> -->
        <input type="submit" value="Register">
    </p>
</form>