<div class="homepage">
  <div class="header">
    <h1><%= teams.platform + " " + teams.gameType%> Tournament</h1>
  </div>
</div>
<div class="tournament-view">
    <% teams.teams.forEach(function(team){ %>
        <p class="team"><%= team.name %></p>
    <% }); %>
</div>